PELICAN_AUTHOR="MITRE"
PELICAN_SITENAME="ATT&CK"
PELICAN_SITEURL="https://attack.mitre.org"
PELICAN_TIMEZONE="America/New_York"
PELICAN_DEFAULT_LANG="en"
ATTACK_WEBSITE_ATTACK_VERSION_ARCHIVES="attack-version-archives"
ATTACK_WEBSITE_BANNER_ENABLED=true
ATTACK_WEBSITE_BANNER_MESSAGE="This is a custom instance of the MITRE ATT&CK Website. The official website can be found at <a href='https://attack.mitre.org'>attack.mitre.org</a>."
ATTACK_WEBSITE_STIX_LOCATION_ENTERPRISE="https://raw.githubusercontent.com/mitre/cti/master/enterprise-attack/enterprise-attack.json"
ATTACK_WEBSITE_STIX_LOCATION_MOBILE="https://raw.githubusercontent.com/mitre/cti/master/mobile-attack/mobile-attack.json"
ATTACK_WEBSITE_STIX_LOCATION_ICS="https://raw.githubusercontent.com/mitre/cti/master/ics-attack/ics-attack.json"
ATTACK_WEBSITE_STIX_LOCATION_PRE="https://raw.githubusercontent.com/mitre/cti/master/pre-attack/pre-attack.json"
ATTACK_WEBSITE_WORKBENCH_USER=""
ATTACK_WEBSITE_WORKBENCH_API_KEY=""
ATTACK_WEBSITE_GOOGLE_ANALYTICS=""
ATTACK_WEBSITE_GOOGLE_SITE_VERIFICATION=""
ATTACK_WEBSITE_ATTACK_BRAND=false
ATTACK_WEBSITE_INCLUDE_OSANO=false
ATTACK_WEBSITE_TEST_EXITSTATUS=true
ATTACK_WEBSITE_UPDATE_ATTACK_ALL_EXTRAS=false
